@font-face {
  font-family: "police1";
  src: url(./assets/police/Montserrat-Thin.ttf);
}

:root{
  --color-1: hsl(196, 58%, 54%);
  --color-2: rgba(0,0,0,1);
  --color-3: rgb(255, 255, 255);
}

*{
  margin: 0px ; 
  padding: 0px; 
  box-sizing: border-box; 
  list-style-type: none;
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  width: 80%;
  margin: auto; 
}
section{
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: var(--color-2);
  position: relative;
}
::selection{
  color: var(--color-3);
  background-color: var(--color-1);
}

img{
  max-width: 100%;
}
li a:hover::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-2);
  top: -2px
}

label[for="menuBurger"], input[type=checkbox]{
  display: none;
}

nav{
  display: flex;
  align-items: center;
  margin: 12px auto;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.logo{
  width: 50%; 
  
}

nav ul {
  width: 50%; 
  display: flex;
  justify-content: space-around;
}
header{
  background: url(./webagency_images/images/slider/bg1.jpg) center/cover;
  transition: 1s linear;
  color: var(--color-3);
  height: 500px; 
  display: flex;
  align-items: center;
  position: relative;
  
}

#bg2:checked ~header{
  background: url(./webagency_images/images/slider/bg2.jpg) center/cover;
  transition: 1s linear;
}
#bt1{
  position: absolute;
  left: 6px
}
#bt2{
  position: absolute;
  right: 6px
}
.fa-angle-left{
  transform: scale(2);
  padding: 2px 4px;
  background-color:rgba(0, 0, 0, 0.75);
  border-radius: 0px 100px 100px 0;
}
.fa-angle-right{
  transform: scale(2);
  padding: 2px 4px;
  background-color:rgba(0, 0, 0, 0.75);
  border-radius: 100px 0px 0px 100px;
}




.header-container{
  width: 50%;
  margin: 24px;
}
.header-container p{
  margin: 24px 0px;
}

h1{
  text-transform:uppercase;
  font-size: calc(1rem + 1.8vw);
}

.webagency{
  color:var(--color-1);
}

button, input[type=submit]{
  color: var(--color-3);
  background-color: var(--color-1);
  padding: 12px;
  border: none; 
  border-radius: 5px;
}

.header{
  width:60%;
  margin: 24px auto; 
  text-align: center;
}

h2{
  
  font-size: calc(1rem + 1.5vw);
  text-transform:uppercase;
}
.separator{
  margin: 36px auto ;
}
.line{

  width: 200px;
  height: 1px;
  background-color: lightgray;
  margin: auto;
  position: relative;
}  

.blue-cercle{
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: var(--color-1);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid white 3px;
}

.service .main{
  display: flex;
  align-items: center;&
}

.fa-line-chart, .fa-cubes, .fa-pie-chart{
  color: var(--color-1);
  transform: scale(1.5);
}
 .icon{
  padding: 20px;
  margin: 0px 24px;
  position: relative;
 }

.cercles{
  position: absolute;
  top: 3px;
  right: 5px;
  transform: rotate(180deg);
}

.cercle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px lightgray;
}


.service-container:hover .cercles{
  animation : tourne 3s ease-in-out infinite; 
}
@keyframes tourne{
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}



.service-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.portfolio{
  background-color: rgb(238, 237, 237);
  padding: 6px 0px;
}
.projet{
  display: flex;
  justify-content:space-evenly;
  margin: 12px auto;
  background-color: lightgray;
  border-radius: 5px;
  max-width: 400px;
}
.projet li {
  padding: 10px;
}

.main .porfolio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.porfolio img{
  min-width: 200px;
  width: 20%;
  height: auto;
  margin: 12px 12px 6px;
  
}
.map {
  
  position: relative;
  

}
iframe {
  width: 100%;
  position: relative;
}
.filter{
  background-color: rgba(0, 0, 255, 0.5);
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}


.filter:hover {
  background-color: rgba(0, 0, 255, 0);
  transition: 1s ease;
  
}
.formulaire {
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 12px;
  right : 24px ;
  padding: 12px;
  margin: 24px;
  background: rgba(255, 255, 255, 0.80);
  width: 30%;
  z-index: 2;
}
h4{
  font-size: 1.5rem;
  margin: 12px 0px ;
}
li.nom {
  font-weight: bold;
}

form{
  display: flex;
  flex-direction: column;
}

input , textarea{
  padding: 6px;
  margin: 12px 0px;
}

input[type=submit]{
  width: 50%;
}

@media screen and (max-width:1100px){
  .service>.main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:700px){
  body{
    width: 100%;
  }
  .header-container{
    width: 50%;
  }
  
  .main .porfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .porfolio img{
     width: 70%;
    height: auto;
  }
  .formulaire{
    position: relative;
    margin: auto;
    width: 80%;
    text-align: center;
  }
  input[type=submit]{
    margin: auto;
  }
}

@media screen and (max-width:550px){
  
  .projet {
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: none;
  }
  
  nav ul {
    display: none;
    position: none;
    max-width: 100%;
  }
  
  label[for="menuBurger"]{
    display: inline-block;
    position: fixed;
    top: 0px;
    padding: 6px;
    color: var(--color-1);
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 900;
    z-index: 150;
  }
  input#menuBurger:checked ~nav#navMenu ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 48px 6px 6px;
    max-width: 100%;
    text-align: center;
    
  }
}
  


